
  <div class="centered-container">
    <div class="form-container">
      <a href="/<%= moduleName %>/list" class="close-btn">&times;</a>
      <h2 class="text-center mb-4"><%= typeform === 'edit' ? 'Editar': 'Crear' %> <%= title %></h2>
      <% if (Array.isArray(error_msg) && error_msg.length > 0) { %>
        <div class="alert alert-danger">
          <% error_msg.forEach(function(msg) { %>
            <p class="mb-0"><%= msg %></p>
          <% }) %>
        </div>
      <% } %>
      <form action="/<%= moduleName %>/form/<%= typeof item !== 'undefined' ? 'edit/' + item._id : 'new' %>" method="POST" onsubmit="return printTicker();" enctype="multipart/form-data">

        <div class="form-group">
          <label for="name">Clave</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= typeof item !== 'undefined' ? item.name : '' %>" required>
        </div>
        <div class="form-group">
          <label for="description">Descripcion</label>
          <input type="text" class="form-control" id="description" name="description" value="<%= typeof item !== 'undefined' ? item.description : '' %>" required>
        </div>
        <div class="form-group">
          <label for="cred">Creditos</label>
          <input type="cred" class="form-control" id="cred" name="cred" value="<%= typeof item !== 'undefined' ? item.cred : '' %>" required>
        </div>
        <div class="form-group">
          <label for="hp">Horas Practica</label>
          <input type="text" class="form-control" id="hp" name="hp" value="<%= typeof item !== 'undefined' ? item.hp : '' %>" required>
        </div>
        <div class="form-group">
          <label for="ht">Horas Teoria</label>
          <input type="date" class="form-control" id="ht" name="ht" value="<%= typeof item !== 'undefined' ? item.ht : '' %>" required>
        </div>

        <div class="button-container">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <a class="btn btn-secondary" href="/<%= moduleName %>/list">Cancelar</a>
        </div>
      </form>
    </div>
  </div>

  
<script>
  function printTicker() {
  
    // Información de la empresa
    const empresaNombre = "Tintorería"; // Cambia esto por el nombre de tu empresa
    const empresaDireccion = "Calle Ejemplo 123, Ciudad"; // Cambia esto por la dirección de tu empresa
    const empresaTelefono = "(123) 456-7890"; // Cambia esto por el teléfono de tu empresa
  
    // Generar el contenido del ticker
    const tickerContent = `
        TICKER DE SERVICIO
        -------------------
        Empresa: ${empresaNombre}
        Dirección: ${empresaDireccion}
        Teléfono: ${empresaTelefono}
        -------------------
        -------------------
        ¡Gracias por su preferencia!
    `;
  
    // Crear una ventana nueva para imprimir
    const printWindow = window.open('', '', 'height=400,width=600');
    printWindow.document.write('<pre>' + tickerContent + '</pre>');
    printWindow.document.close();
    printWindow.print();
    return true; // Permitir que el formulario se envíe
  }
  </script>
  